*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #7e7c7c;
}
.calculator {
    width: 300px;
    height: 345px;
    margin: 100px auto;
    background-color: #f0eeee;
    border-radius: 12px;
    box-shadow: 0px 0px 25px black;
    padding: 20px;
    animation: color 5s infinite alternate;
}

@keyframes  color {
    0% { box-shadow: 0px 0px 25px red; }
    25% { box-shadow: 0px 0px 25px yellow; }
    50% { box-shadow: 0px 0px 25px rgb(255, 0, 149); }
    75% { box-shadow: 0px 0px 25px rgb(9, 255, 0); }
    100% { box-shadow: 0px 0px 25px blue; }
}

.display {
    height: 40px;
    width: 10%;
    font-size: 24px;
    border: none;
    text-align: end;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 2px black;
    margin-bottom: 10px;
    /* padding: 10px; */
}

.btn0 {
    margin-left: 20px;
}

.btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 5px gray
}
.btn:hover {
    background-color: #dbdada;
    border: none;
}

.caler {
    width: 100px;
    float: right;
    margin-right: 35px;
}